---
apiVersion: {{ cluster_prometheus_apiGroup }}/v1
kind: ServiceMonitor
metadata:
  labels:
    app: prometheus
{% for key, value in cluster_prometheus_default_labelselector.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}
  name: prometheus
spec:
  endpoints:
    - bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
      interval: 30s
      port: web
      scheme: https
      targetPort: web
      tlsConfig:
        caFile: /var/run/secrets/kubernetes.io/serviceaccount/service-ca.crt
        serverName: prometheus.{{ cluster_prometheus_namespace }}.svc
  namespaceSelector: {}
  selector:
    matchLabels:
      app-monitor: monitor