---
apiVersion: {{ cluster_prometheus_apiGroup }}/v1
kind: Prometheus
metadata:
  name: {{ cluster_prometheus_namespace_serviceAccount }}
  namespace: {{ cluster_prometheus_namespace }}
  labels:
    app-monitor: {{ cluster_prometheus_custom_label }}
labels:
  app-prometheus: prometheus
spec:
  replicas: 2
  serviceAccountName: {{ cluster_prometheus_namespace_serviceAccount }}
{% if cluster_prometheus_default_labelselector is iterable and cluster_prometheus_default_labelselector | length > 0 %}
  serviceMonitorSelector:
    matchLabels:
{% for key, value in cluster_prometheus_default_labelselector.items() %}
      {{ key }}: "{{ value }}"
{% endfor %}
  serviceMonitorNamespaceSelector:
    matchLabels:
{% for key, value in cluster_prometheus_default_labelselector.items() %}
      {{ key }}: "{{ value }}"
{% endfor %}
  ruleNamespaceSelector:
    matchLabels:
{% for key, value in cluster_prometheus_default_labelselector.items() %}
      {{ key }}: "{{ value }}"
{% endfor %}
  ruleSelector:
    matchLabels:
{% for key, value in cluster_prometheus_default_labelselector.items() %}
      {{ key }}: "{{ value }}"
{% endfor %}
      role: alert-rules
{% endif %}
  secrets:
    - prometheus-tls
    - prometheus-proxy
    - prometheus-htpasswd
  listenLocal: true
  version: v2.3.2
  tag: {{ openshift_image_tag }}
  alerting:
    alertmanagers:
      - bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
        name: alertmanager
        namespace: {{ cluster_prometheus_namespace }}
        port: web
        scheme: https
        tlsConfig:
          caFile: /var/run/secrets/kubernetes.io/serviceaccount/service-ca.crt
          serverName: alertmanager.{{ cluster_prometheus_namespace }}.svc
{% if cluster_monitoring_operator_node_selector is iterable and cluster_monitoring_operator_node_selector | length > 0 %}
  nodeSelector:
{% for key, value in cluster_monitoring_operator_node_selector.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
  containers:
    - name: prometheus-proxy
      args:
        - '-provider=openshift'
        - '-https-address=:9091'
        - '-http-address='
        - '-email-domain=*'
        - '-upstream=http://localhost:9090'
        - '-htpasswd-file=/etc/proxy/htpasswd/auth'
        - '-client-id=system:serviceaccount:{{ cluster_prometheus_namespace }}:{{ cluster_prometheus_namespace_serviceAccount }}'
        - '-openshift-service-account={{ cluster_prometheus_namespace_serviceAccount }}'
        - '-openshift-sar={"resource": "namespaces", "verb": "get"}'
        - >-
          -openshift-delegate-urls={"/": {"resource": "namespaces", "verb":
          "get"}}
        - '-tls-cert=/etc/tls/private/tls.crt'
        - '-tls-key=/etc/tls/private/tls.key'
        - '-client-secret-file=/var/run/secrets/kubernetes.io/serviceaccount/token'
        - '-cookie-secret-file=/etc/proxy/secrets/session_secret'
        - '-openshift-ca=/etc/pki/tls/cert.pem'
        - '-openshift-ca=/var/run/secrets/kubernetes.io/serviceaccount/ca.crt'
        - '-skip-auth-regex=^/metrics'
      image: '{{ cluster_monitoring_operator_proxy_image }}'
      ports:
        - containerPort: 9091
          name: web
      resources: {}
      volumeMounts:
        - mountPath: /etc/tls/private
          name: secret-prometheus-tls
        - mountPath: /etc/proxy/secrets
          name: secret-prometheus-proxy
        - mountPath: /etc/proxy/htpasswd
          name: secret-prometheus-htpasswd
{% if cluster_prometheus_storage_enabled %}
  storage:
    resources: {}
    volumeClaimTemplate:
      metadata: {}
      spec:
        resources:
          requests:
            storage: {{ cluster_prometheus_storage_capacity }}
        storageClassName: "{{ cluster_prometheus_storage_class_name }}"
      status: {}
{% endif %}